{% extends 'dashboard/publications/base.html' %}
{% load static %}


{% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title">Authors List</h3>
                    <div class="nk-block-des text-soft">
                        <p>Total {{ authors.count }} authors.</p>
                    </div>
                </div>
                <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle">
                        <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu">
                            <em class="icon ni ni-menu-alt-r"></em>
                        </a>
                        <div class="toggle-expand-content" data-content="pageMenu">
                            <ul class="nk-block-tools g-3">
                                <li><a href="#" class="btn btn-white btn-outline-light"><em class="icon ni ni-download-cloud"></em><span>Export</span></a></li>
                                <li class="nk-block-tools-opt">
                                    <a href="{% url 'admin:people_person_add' %}" class="btn btn-icon btn-primary"><em class="icon ni ni-plus"></em></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="nk-block">
            <div class="card card-bordered card-stretch">
                <div class="card-inner-group">
                    <div class="card-inner position-relative card-tools-toggle">
                        <div class="card-title-group">
                            <div class="card-tools">
                                <div class="form-inline flex-nowrap gx-3">
                                    <div class="form-wrap w-150px">
                                        <select class="form-select js-select2" data-search="off" data-placeholder="Bulk Action">
                                            <option value="">Bulk Action</option>
                                            <option value="email">Send Email</option>
                                            <option value="delete">Delete</option>
                                        </select>
                                    </div>
                                    <div class="btn-wrap">
                                        <span class="d-none d-md-block">
                                            <button class="btn btn-dim btn-outline-light">Apply</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-tools me-n1">
                                <ul class="btn-toolbar gx-1">
                                    <li>
                                        <a href="#" class="btn btn-icon search-toggle toggle-search" data-target="search">
                                            <em class="icon ni ni-search"></em>
                                        </a>
                                    </li>
                                    <li class="btn-toolbar-sep"></li>
                                    <li>
                                        <div class="toggle-wrap">
                                            <a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools">
                                                <em class="icon ni ni-menu-right"></em>
                                            </a>
                                            <div class="toggle-content" data-content="cardTools">
                                                <ul class="btn-toolbar gx-1">
                                                    <li class="toggle-close">
                                                        <a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools">
                                                            <em class="icon ni ni-arrow-left"></em>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-search search-wrap" data-search="search">
                            <div class="card-body">
                                <div class="search-content">
                                    <a href="#" class="search-back btn btn-icon toggle-search" data-target="search">
                                        <em class="icon ni ni-arrow-left"></em>
                                    </a>
                                    <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by name or email">
                                    <button class="search-submit btn btn-icon">
                                        <em class="icon ni ni-search"></em>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-inner p-0">
                        <div class="nk-tb-list nk-tb-ulist">
                            <div class="nk-tb-item nk-tb-head">
                                <div class="nk-tb-col nk-tb-col-check">
                                    <div class="custom-control custom-control-sm custom-checkbox notext">
                                        <input type="checkbox" class="custom-control-input" id="uid">
                                        <label class="custom-control-label" for="uid"></label>
                                    </div>
                                </div>
                                <div class="nk-tb-col"><span class="sub-text">Author</span></div>
                                <div class="nk-tb-col tb-col-mb"><span class="sub-text">Organization</span></div>
                                <div class="nk-tb-col tb-col-md"><span class="sub-text">Publications</span></div>
                                <div class="nk-tb-col tb-col-lg"><span class="sub-text">Total Views</span></div>
                                <div class="nk-tb-col tb-col-lg"><span class="sub-text">Total Downloads</span></div>
                                <div class="nk-tb-col nk-tb-col-tools text-end">
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-xs btn-outline-light btn-icon dropdown-toggle" data-bs-toggle="dropdown">
                                            <em class="icon ni ni-plus"></em>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            {% for author in authors %}
                            <div class="nk-tb-item">
                                <div class="nk-tb-col nk-tb-col-check">
                                    <div class="custom-control custom-control-sm custom-checkbox notext">
                                        <input type="checkbox" class="custom-control-input" id="uid{{ author.id }}">
                                        <label class="custom-control-label" for="uid{{ author.id }}"></label>
                                    </div>
                                </div>
                                <div class="nk-tb-col">
                                    <a href="#">
                                        <div class="user-card">
                                            {% if author.image %}
                                                <div class="user-avatar">
                                                    <img src="{{ author.image.url }}" alt="{{ author.get_full_name }}">
                                                </div>
                                            {% else %}
                                                <div class="user-avatar bg-{{ author.get_avatar_color }}">
                                                    <span>{{ author.get_initials }}</span>
                                                </div>
                                            {% endif %}
                                            <div class="user-info">
                                                <span class="tb-lead">{{ author.get_full_name }} {% if author.publication_count %}<span class="dot dot-success d-md-none ms-1"></span>{% endif %}</span>
                                                <span>{{ author.email }}</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="nk-tb-col tb-col-mb">
                                    <span>{% for org in author.organization.all %}{{ org.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
                                </div>
                                <div class="nk-tb-col tb-col-md">
                                    <span class="tb-amount">{{ author.publication_count|default:"0" }}</span>
                                </div>
                                <div class="nk-tb-col tb-col-lg">
                                    <span class="tb-amount">{{ author.total_visits|default:"0" }}</span>
                                </div>
                                <div class="nk-tb-col tb-col-lg">
                                    <span class="tb-amount">{{ author.total_downloads|default:"0" }}</span>
                                </div>
                                <div class="nk-tb-col nk-tb-col-tools">
                                    <ul class="nk-tb-actions gx-1">
                                        <li class="nk-tb-action-hidden">
                                            <a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="View Details">
                                                <em class="icon ni ni-eye-fill"></em>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="drodown">
                                                <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown">
                                                    <em class="icon ni ni-more-h"></em>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#">
                                                            <em class="icon ni ni-eye"></em><span>View Details</span>
                                                        </a></li>
                                                        <li><a href="{% url 'admin:people_person_change' author.id %}">
                                                            <em class="icon ni ni-edit"></em><span>Edit</span>
                                                        </a></li>
                                                        <li><a href="#" class="text-danger">
                                                            <em class="icon ni ni-trash"></em><span>Delete</span>
                                                        </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="card-inner">
                        <div class="nk-block-between-md g-3">
                            <div class="g">
                                <ul class="pagination justify-content-center justify-content-md-start">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev</a>
                                        </li>
                                    {% endif %}
                                    
                                    {% for num in page_obj.paginator.page_range %}
                                        {% if num == page_obj.number %}
                                            <li class="page-item active">
                                                <span class="page-link">{{ num }}</span>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        // Initialize select2
        $('.js-select2').select2();
        
        // Toggle search
        $('.toggle-search').on('click', function(e) {
            e.preventDefault();
            var target = $(this).data('target');
            $('.' + target).toggleClass('active');
        });
        
        // Bulk checkbox
        $('#uid').on('change', function() {
            var checked = $(this).prop('checked');
            $('.custom-control-input').prop('checked', checked);
        });
    });
</script>
{% endblock %}